header {
    height: 100px;
    background-color: aqua;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
}

.logotitolo {
    width: 200px;
    display: flex;
    align-items: baseline;
}


h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;

}
.autore{
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
}

.link{
    color: aqua;
}

.data{
    font-size: 15px;
    font-weight: 300;
    margin-top: 0px;
}

.immagini{
    width: 100%;
    margin-right: 0px;
}

.tim{
    width: ;
}
