header {
    background-color: aqua;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
}

.logotitolo {
    padding: 50px 20px 0px 0px;
    width: 200px;
    display: flex;
    align-items: baseline;
}


h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;

}
.autore{
    font-weight: 300;
    font-size: 20px;
    margin: 0px;
}

.link{
    color: aqua;
}

.data{
    font-size: 15px;
    font-weight: 300;
    margin-top: 0px;
}

.immagini{
    width: 100%;
    margin-right: 0px;
}

.tim{
    width: ;
}


.descrizione{
    margin: 0px;
    font-size: 12px;
}

.evidenziato{
    background-color: yellow;
}

.elenco{
    line-height: 0px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0pt;
    padding-left: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    padding-left: 0pt;
    color: white;
    background-color: cornflowerblue;
  }


td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 25px;
  padding-left: 0px;
  padding-right: 0px;
  
}

tr:nth-child(odd) {
background-color: aqua;
  }
  

.testo{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .titolocorrelato{
    font-size: 20px;
    color: gray;
  }


 .containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
h4 {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   color: #FFF;   
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}